.greeting {
  &__name {
    font-size: 1.3rem;
    text-overflow: ellipsis;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    display: block;
  }

  &__head {
    font-size: 1rem;
  }
}

.cards {
  .card {
    cursor: pointer;

    &__item {
      border: 0px;
      img {
        height: 40px;
      }
    }
  }
}
