.scrolling-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  .bean {
    display: inline-block;
  }
}

.card-counter {
  box-shadow: 2px 2px 10px rgb(170, 168, 168);
  margin: 2px;
  padding: 12px 7px;
  background-color: #fff;
  height: 90px;
  border-radius: 5px;
  transition: 0.3s linear all;
}

.card-counter:hover {
  box-shadow: 4px 4px 20px #dadada;
  transition: 0.3s linear all;
}

.card-counter.primary {
  background-color: #fffc9ed5;
}

.card-counter.danger {
  background-color: #ffb7b7e3;
}

.card-counter.secondary {
  background-color: #f3f3f3d2;
}

.card-counter.success {
  background-color: #bfffbfd9;
}

.card-counter.info {
  background-color: #cef3f8d5;
}

.card-counter .card-icon {
  font-size: 5em;
  color: black;
  position: absolute;
  opacity: 0.2;
  left: 30px;
}

.card-counter .count-numbers {
  position: absolute;
  color: black;
  right: 24px;
  top: 24px;
  font-size: 24px;
  display: block;
  resize: horizontal;
  width: 200px;
}

.card1 span {
  overflow: hidden;
  text-overflow: ellipsis;
  resize: horizontal;
}

.card1 {
  font-family: sans-serif;
  border-radius: 24px;
  width: 20rem;
  padding: 7px;
  position: relative;
}

.card-counter .count-name {
  position: absolute;
  right: 24px;
  top: 60px;
  font-style: italic;
  text-transform: capitalize; // opacity: 0.5;
  display: block;
  font-size: 18px;
}

.backBtn {
  background: linear-gradient(
    270deg,
    rgba(9, 220, 68, 0.48) 0%,
    rgba(20, 178, 247, 0.48) 100%
  );
  // border-radius: 50%;
  border: 0px;
  // width: 45px;
  font-size: 18px;
  line-height: 30px;
  color: white;
}
